
.comment, .ban-get, .open-sans-font {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

span{
    color: #FD6E0A;
}

/* common styles */
main section{
    margin-top: 130px;
    margin-bottom: 130px;
}
.text-center{
    text-align: center;
}
.secondary-bg{
    background-color: #FFF8F3;
}
.dark2{
    color: #474747;
}
.button-primary{
    background-color: #FD6E0A;
    width: 200px;
    height: 64px;
    font-weight: bold;
    font-size: 20px;
    color: white;
    border-radius: 5px;
    padding: 18px 35px;
    border: none;
}

/* header */
.head{
    background-image: url("../images/developer.png"), url("../images/header_bg.png");
    background-repeat: no-repeat;
    background-position: top left, bottom right;
}

/* nav styles */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 50px 200px;
}
.nav-title{
    font-weight: 800;
    font-size: 45px;
}

nav ul li{
    list-style: none;
    
}
nav ul li a{
    text-decoration: none;
    font-size: 20px;
    margin-right: 51px;
}
nav ul{
    display: flex;
    align-items: center;
}

/* banner styles */
.banner{
    display: flex;
    justify-content: space-between;
    margin:0 35px 0 230px;
}
.ban-get{
    font-size: 45px;
    font-weight: 600;
}
.ban-title{
    color: #181818;
    font-weight: bold;
    font-size: 85px;
}
.banner img{
    width: 584px;
    height: 676px;
}
.banner p{
    font-size: 18px;
    height: 60px;
    width: 585;
    color: #757575;
}
.button-primary{
    align-items: center;
}

.section-title{
    font-size: 35px;
    font-weight: bold;
    color:#181818
}
.section-description{
    font-size: 18px;
    color: #757575;
    margin-top: 30px;
    margin-bottom: 50px;
}
/* main styles */
main{
    max-width: 1140px;
    margin:0px auto;
}
/* about styles */
.about{
    border-radius: 10px;
    padding: 130px 150px;
    text-align: center;
}
.about-list{
    display: flex;
    justify-content: space-around;
}
.item-title{
    font-size: 20px;
    color: #757575;
}
.item-description{
    font-size: 20px;
    font-weight: bold;
    color: #474747;
}
.field-about{
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.493);
}
/* skills section */
.skills-container{
    display: flex;
    gap: 24px;
}
.skill{
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}
/* resume section */
.resume{
    text-align: center;
}
.resume-container{
    display: flex;
    gap: 24px;
}
.resume-column-title{
    color: #474747;
    font-weight: bold;
    font-size: 30px;
}
.experience-title{
    color: #474747;
    font-weight: bold;
    font-size: 25px;
}
.experience-sub-title{
    color: #757575;
    font-weight: 600;
    font-size: 20px;
}
.experience-description{
    color: #757575;
    font-size: 16px;
}
.resume hr{
    margin: 30px 5px;
    color:rgba(209, 209, 209, 1)
}
.resume button{
    margin-top: 50px;
    margin-bottom: 113px;
}
/* footer style */
.foot{
    padding: 100px 200px;
    display: flex;
    gap: 200px;
}   
.foot input{
    border-radius: 5px;
    width: 461px;
    height: 64px;
    margin-bottom: 24px;
    padding:10px 20px;
    font-size: 18px;
    display: block;
}
.foot textarea{
    border-radius: 5px;
    width: 461px;
    height: 180px;
    margin-bottom: 24px;
    padding:10px 20px;
    font-size: 18px;
    display: block;
}
/* responsive styles */
    .hide{
        display: none;
    }

@media screen and (max-width: 576px){
    .skills-container{
        flex-direction: column;
    }
    .resume-container{
        flex-direction: column;
    }
    .foot{
        flex-direction: column;
        padding: 20px;
    }
    .footer-column{
        width: 100%;
    }
    .foot input, .foot textarea{
        width: calc(100% - 40px);
    }
    .about{
        padding: 0px;
    }
    .about-list{
        flex-direction: column;
    }
}