
.ban-get, .open-sans-font {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

span{
    color: #FD6E0A;
}
.dark2{
    color: #474747;
}
/* common styles */
.button-primary{
    background-color: #FD6E0A;
    width: 150px;
    height: 64px;
    font-weight: bold;
    font-size: 20px;
    color: white;
    border-radius: 5px;
    padding: 18px 35px;
    border: none;
}
/* header */
.head{
    background-image: url("../images/developer.png"), url("../images/header_bg.png");
    background-repeat: no-repeat;
    background-position: top left, bottom right;
}
/* nav styles */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 50px 200px;
}
.nav-title{
    font-weight: 800;
    font-size: 45px;
}

nav ul li{
    list-style: none;
    
}
nav ul li a{
    text-decoration: none;
    font-size: 20px;
    margin-right: 51px;
}
nav ul{
    display: flex;
    align-items: center;
}
/* banner styles */
.banner{
    display: flex;
    justify-content: space-between;
    margin:0 35px 0 230px;
}
.ban-get{
    font-size: 45px;
    font-weight: 600;
}
.ban-title{
    color: #181818;
    font-weight: bold;
    font-size: 85px;
}
.banner img{
    width: 584px;
    height: 676px;
}
.banner p{
    font-size: 18px;
    height: 60px;
    width: 585;
    color: #757575;
}
.button-primary{
    align-items: center;
}